<a href="https://colab.research.google.com/github/juliavassimon/python_aula/blob/main/fun%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#string é um bloco de dados que não se altera
#função que cria uma lista
nome = input("Digite seu nome: ").split(";")
print(nome)

Digite seu nome: julia dani marina
['julia dani marina']

In [ ]:
#função que retorna a string alterada, a original não altera.
nome = "Carol Maria"
nome1 = nome.replace("Carol","Aurora") #primeiro é o original e o segundo é o quer  substituir
print(nome1)

In [ ]:
#função que coloca um conjunto de string em letra maiuscula
nome = "Carol Maria"
nome1 = nome.upper()
print(nome1)

In [ ]:
#função que faz a string ficar em minusculo
nome = "Carol Maria"
nome1 = nome.lower()
print(nome1)

In [6]:
#função que conta quantas vezes uma string apareceu
nome = "Futebol Brasileiro Futebol Carioca"
print(nome.count("Futebol")) #passando parametro

2

In [7]:
#função que retorna o tamanho da string = len()
nome = "Carol Maria"
print(len(nome))

11

In [9]:
#função que formar uma frase com as palavras que estão na lista
lista = ["Arroz", "feijão", "farinha"]
texto = ", ".join(lista)
print(texto)

Arroz, feijão, farinha

In [12]:
#junta as string da lista dentro do arquivo
lista = ["Arroz", "feijão", "farinha"]
texto = "".join(lista)
with open('texto.txt', "w") as arquivo:
    arquivo.write(texto)

In [ ]:
#função para verificar se uma string possui numeros e letras
nome = "2389 abc"
nome1 = "238"
print(nome.isalnum())
print(nome1.isalnum())

In [ ]:
#função para verificar se tem somente letras
nome = "2389abc"
nome1 = "_abc"
nome2 = "adc"
print(nome.isalpha())
print(nome1.isalpha())
print(nome2.isalpha())